body {
    overflow: hidden;
    position: relative;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-family: sans-serif;
    color: #fff;
    font-size: 16px;
    background-color: #111;
}

::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background: #222;
}
::-webkit-scrollbar-thumb {
    background: #333;
}
::-webkit-scrollbar-thumb:hover {
    background: #444;
}

#main-header {
    position: relative;
    overflow: visible;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #151519;
    display: flex;
    justify-content: space-between;
}

#open-files {
    flex-grow: 1;
}

#open-file-dropdown {
    display: none;
}

#open-file-dropdown.dropped {
    display: block;
    background-color: #222;
    padding: 7px;
    border-radius: 7px;
    border: 1px solid #484848;
    margin: 4px;
    height: max-content;
    position: relative;
    z-index: 5;
}

#open-file-list {
    margin: 0;
    padding-left: 20px;
    line-height: 1rem;
}
#open-file-list .file-name {
    flex-grow: 1;
}
#open-file-list .file-close-button {
    flex-shrink: 0;
}

#open-file-list .file-name,
#open-file-list .file-close-button {
    user-select: none;
    cursor: pointer;
}

#open-file-list .file-name:hover,
#open-file-list .file-close-button:hover,
#open-file-list .file-name:active,
#open-file-list .file-close-button:active {
    background-color: #444;
    border-radius: 5px;
}

.current-wad > .file-name {
    background-color: #333;
    border-radius: 5px;
}

#current-filename {
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
    font-weight: bold;
}

.other-file {
    padding: 2px;
    display: block;
    line-height: 30px;
    height: 30px;
}

.other-file:hover,
.other-file:active {
    background-color: #222;
    border-radius: 4px;
    cursor: pointer;
}

.main-open-button {
    margin: 10px 16px;
    padding: 0 12px;
    border-radius: 4px;
    height: 40px;
    line-height: 40px;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 16px;
}

.main-open-button:hover,
.main-open-button:active {
    background-color: #222;
}

#main-content {
    position: absolute;
    width: 100%;
    left: 0;
    top: 60px;
    bottom: 0;
    display: flex;
}

#lump-list {
    display: flex;
    width: 400px;
    height: 100%;
    margin: 0;
    flex-direction: column;
    flex-shrink: 0;
}

#lump-list-header {
    overflow: hidden;
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    flex-shrink: 0;
}

#lump-list-search {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;
    color: #fff;
    background-color: #111;
    border-color: #333;
    font-size: 16px;
    width: 60%;
    height: 28px;
    line-height: 28px;
    margin-left: 8px;
    margin-top: 4px;
    padding: 0 4px;
}

#lump-list-count {
    float: right;
    display: inline-block;
    box-sizing: border-box;
    text-align: right;
    margin-right: 16px;
    font-size: 13px;
    line-height: 40px;
}

#lump-list-content {
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
    flex-grow: 1;
}

#lump-view {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100%;
    flex-grow: 1;
}

#lump-view-header {
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    flex-shrink: 0;
    justify-content: space-between;
}

#lump-view-content {
    position: relative;
    width: 100%;
    height: 100%;
    flex-grow: 1;
    overflow-y: scroll;
}

#lump-view-name {
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
    margin-left: 8px;
    line-height: 40px;
}

#lump-view-type {
    display: inline-block;
    vertical-align: middle;
    margin-left: 16px;
    line-height: 40px;
}

#lump-view-buttons {
    display: inline-block;
    margin-right: 8px;
    height: 100%;
    line-height: 40px;
    vertical-align: top;
}

#lump-view-buttons .view-button {
    display: inline-block;
    box-sizing: border-box;
    border-radius: 4px;
    height: 40px;
    line-height: 40px;
    padding: 2px 4px;
    margin: 0;
    cursor: pointer;
}

#lump-view-buttons .view-button.selected {
    background-color: #181818;
    border-radius: 0;
}
#lump-view-buttons .view-button:hover,
#lump-view-buttons .view-button:active {
    background-color: #222;
}

#lump-view-buttons .view-button .icon {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    margin-left: 2px;
    margin-right: 4px;
}

#lump-view-buttons .view-button .name {
    display: inline-block;
    font-size: 14px;
    margin-right: 4px;
}

.list-item {
    display: block;
    overflow: hidden;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    cursor: pointer;
}
.list-item.selected,
.list-item:hover,
.list-item:active {
    background-color: #222;
}

.list-item.filtered {
    display: none;
}

.list-item .icon {
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    width: 24px;
    height: 16px;
    padding-left: 8px;
}
.list-item .name {
    display: inline-block;
    box-sizing: border-box;
    width: calc(45% - 24px);
    padding-left: 4px;
    font-weight: bold;
}
.list-item .type {
    display: inline-block;
    text-align: right;
    width: 37%;
}
.list-item .size {
    display: inline-block;
    box-sizing: border-box;
    text-align: right;
    width: 18%;
    padding-right: 8px;
}

#lump-view-content .lump-view-warning {
    display: block;
    box-sizing: border-box;
    cursor: pointer;
    width: 100%;
    margin: 0 auto;
    padding: 32px;
    font-size: 18px;
}

#lump-view-content .lump-view-warning:hover,
#lump-view-content .lump-view-warning:active {
    background-color: #181818;
}

#lump-view-content .lump-view-text {
    padding: 20px;
    margin: 0;
    background-color: #181818;
    font-family: monospace;
    font-size: 14px;
    line-height: 16px;
    white-space: pre-wrap;
    word-break: break-word;
}

#lump-view-content .lump-view-hex {
    padding: 20px;
    margin: 0;
    background-color: #181818;
    font-family: monospace;
    font-size: 14px;
    line-height: 16px;
}

#lump-view-content .lump-view-hex .octet {
    display: inline-block;
    width: 48px;
    text-align: center;
}

.lump-view-list {
    width: 100%;
    height: auto;
    background-color: #181818;
}

.lump-view-list .list-item {
    display: block;
    box-sizing: border-box;
    font-size: 14px;
    width: 100%;
    height: 20px;
    line-height: 20px;
    padding: 0 8px;
    border-bottom-width: 1px;
    border-bottom-color: #222;
    border-bottom-style: solid;
}

.lump-view-image {
    display: block;
    vertical-align: middle;
    text-align: center;
    margin: 0 auto;
    margin-top: 64px;
    line-height: calc(100% - 40px);
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0);
}

.lump-view-image:hover {
    border-color: #aaa;
}

.lump-view-textures {
    width: 100%;
    height: 100%;
    margin: 0;
}

.lump-view-textures .textures-list {
    display: inline-block;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 200px;
    height: 100%;
}

.lump-view-textures .textures-list .list-item {
    box-sizing: border-box;
    padding: 0 8px;
}

.lump-view-textures .textures-image-container {
    display: inline-block;
    width: calc(100% - 200px);
    height: 100%;
}

.lump-view-audio {
    display: block;
    vertical-align: middle;
    margin: 0 auto;
    margin-top: 64px;
}

.lump-view-map-things .list-item .position {
    display: inline-block;
    font-style: italic;
    width: 120px;
}

.lump-view-map-things .list-item .name {
    display: inline-block;
    font-weight: normal;
    width: auto;
}

.lump-view-map-geometry {
    width: 100%;
    height: 100%;
    background-color: #181818;
}

/* Used by PLAYPAL and COLORMAP views */
.lump-view-sequential {
    display: block;
    text-align: center;
}
.lump-view-sequential .inner-container {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    margin-top: 64px;
}
.lump-view-sequential .counter,
.lump-view-sequential .description {
    display: block;
    width: 100%;
    height: 20px;
    line-height: 20px;
    text-align: center;
}
.lump-view-sequential .description {
    font-size: 14px;
    line-height: 18px;
    color: #bbb;
}
.lump-view-sequential .arrow-button {
    display: inline-block;
    box-sizing: border-box;
    font-weight: bold;
    text-align: center;
    width: 32px;
    height: 32px;
    line-height: 32px;
    margin: 0 4px;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
}
.lump-view-sequential .arrow-button:hover,
.lump-view-sequential .arrow-button:active {
    background-color: #222;
}
.lump-view-sequential canvas {
    display: block;
    margin: 8px auto;
}

/*Error messages*/
.lump-view-error-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.lump-view-info-message {
    display: block;
    margin: 10px;
    background-color: #444;
    border: 1px solid #aaa;
    border-radius: 7px;
    padding: 10px;
}
.lump-view-error-message {
    display: block;
    margin: 10px;
    background-color: #822;
    border: 1px solid #f66;
    border-radius: 7px;
    padding: 10px;
}
#message-container {
    position: absolute;
    z-index: 5;
    top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
/*Support for mobile devices and narrow screens*/
#lump-view-dropdown {
    display: block;
    height: 100%;
    box-sizing: border-box;
}
.dropdown-button {
    display: block;
    box-sizing: border-box;
    font-weight: bold;
    text-align: center;
    height: 100%;
    padding: 0 4px;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
    font-size: 12px;
    vertical-align: middle;
}
#lump-view-dropdown .dropdown-button {
    width: 100%;
}
.dropdown-button::before {
    content: "\25BC";
}
.dropdown-button.dropped::before {
    content: "\25B2";
}
.dropdown-button:hover,
.dropdown-button:active {
    background-color: #222;
}
/*Mobile screens, old desktops*/
@media screen and (max-width: 1023px){
    #lump-view-header {
        overflow: visible;
    }
    /*Put buttons in a vertical list*/
    #lump-view-buttons {
        position: relative;
        background-color: #141414;
        padding: 4px;
        border-radius: 4px;
        border: 1px solid #AAA;
        display: none;
        height: auto;
        z-index: 5;
    }
    #lump-view-buttons.dropped {
        display: block;
    }
    #lump-view-buttons .view-button {
        display: block;
    }
}
@media screen and (max-width: 699px){
    #lump-list {
        width: 160px;
    }
    #lump-list .list-item > .type {
        display: none;
    }
    #lump-list .list-item > .size {
        display: none;
    }
}
/*Most desktops*/
@media screen and (min-width: 1024px){
    #lump-view-buttons {
        display: inline-block;
    }
    #lump-view-dropdown .dropdown-button {
        display: none;
    }
}

.fullscreen-button {
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 3;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border: 1px solid #AAA;
    background-color: rgba(0,0,0,.25);
    border-radius: 7px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    color: #FFF;
    font-size: 24px;
}
.fullscreen-button:hover,
.fullscreen-button:active {
    background-color: rgba(255,255,255,.25);
}

.flex-h {
    display: flex;
}